In [1]:
# 1. extension jupyter: file dùng để học PTDL với Python 
# 2. install pandas 
    # open terminal: 
    # run this command: pip install pandas 
# 3. import thư viện này vào trong source code 
# 4. xử lý lỗi khi import file excel
    # open command lên:
    # type: pip install openpyxl --upgrade

In [7]:
import pandas as pd

In [5]:
sample = {
    'Class': ['CSA02', 'D4E93'],
    'Student count': [10, 50]
}
df_sample = pd.DataFrame(sample)
df_sample

   Class  Student count
0  CSA02             10
1  D4E93             50

In [6]:
# lấy tất cả dữ liệu của column Class 
df_sample['Class']

0    CSA02
1    D4E93
Name: Class, dtype: object

In [1]:


df = pd.read_csv('all_players_stats.csv')
df

,Team,JerseyNo,Player,Position,Apearances,Substitutions,Goals,Penalties,YellowCards,RedCards
0,Arsenal,7,Bukayo Saka,Defender/Midfielder,40,3,12,2,6.0,0.0
1,Arsenal,6,Gabriel,Defender,37,1,5,0,7.0,1.0
2,Arsenal,32,Aaron Ramsdale,Goalkeeper,37,0,0,0,1.0,0.0
3,Arsenal,4,Ben White,Defender,37,0,0,0,3.0,0.0
4,Arsenal,8,Martin Odegaard,Midfielder,36,4,7,0,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
618,Wolverhampton Wanderers,21,John Ruddy,Goalkeeper,5,1,0,0,0.0,0.0
619,Wolverhampton Wanderers,27,Romain Saïss,Defender/Midfielder,32,0,3,0,6.0,0.0
620,Wolverhampton Wanderers,24,Tote Gomes,Defender,5,0,0,0,1.0,0.0
621,Wolverhampton Wanderers,37,Adama Traoré,Midfielder/Forward,11,12,1,0,0.0,0.0
622,Wolverhampton Wanderers,11,Trincão,Midfielder/Forward,16,14,3,0,0.0,0.0