In [2]:
import pandas as pd
data = {
    'Name': ['Nguyen Van A', 'Tran Thi B', 'Le Van C', 'Pham Thi D', 'Hoang Van E',
             'Do Thi F', 'Bui Van G', 'Nguyen Thi H', 'Le Van I', 'Tran Van J'],
    'Age': [22, 21, 23, 20, 22, 24, 23, 22, 21, 20],
    'Class': ['Python', 'JavaScript', 'Python', 'JavaScript', 'Python', 
              'JavaScript', 'Python', 'JavaScript', 'Python', 'JavaScript'],
    'Score': [85, 90, 78, 88, 95, 82, 91, 79, 86, 84]
}
df = pd.DataFrame(data)

           Name  Age       Class  Score
0  Nguyen Van A   22      Python     85
1    Tran Thi B   21  JavaScript     90
2      Le Van C   23      Python     78
3    Pham Thi D   20  JavaScript     88
4   Hoang Van E   22      Python     95

In [ ]:
# To display only the first 5 rows of a DataFrame in `pandas`, you can use the `.head()` method:
# Display the first 5 rows of the DataFrame
# The `.head()``n` rows of the DataFrame, with `n=5` by default.
df.head(5)

In [3]:
# Display general information about the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    10 non-null     object
 1   Age     10 non-null     int64
 2   Class   10 non-null     object
 3   Score   10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes